name: Auto_Deploy_To_Baota
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # 升级到 v4 以获得更好的性能

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          pip install mkdocs-material
          pip install pymdown-extensions  # <--- 新增：支持提示框的核心库

      - name: Build
        run: mkdocs build

      - name: Sync to Baota
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          REMOTE_USER: root
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          SOURCE: "site/"
          TARGET: "/www/wwwroot/docs.kuank.top"
          EXCLUDE: "/.user.ini, /.well-known/, /.htaccess"
          ARGS: "-avz --delete"